   DATABASE_URL="postgresql://postgres.bvrtfkhqlmdsysfjcjtw:[YOUR-PASSWORD]@aws-0-ca-central-1.pooler.supabase.com:5432/postgres?sslmode=require&connection_limit=3&connect_timeout=30&pool_timeout=30"
   PORT=3000